
html{
    background-color:rgba(192, 225, 255, 0.425);
    
}
.sobreLucas{
    font-family: sans-serif;
    background-color: rgb(192, 232, 255);
    display: flex;
    gap: 100px;
    justify-content:center;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px 10% ;
    

}

.sobreLucas > img{
    border-radius: 180px;
    width: 247px;
    height: 247px;

}

.sobreLucas > h5{
    width: 250px;
    font-size: 14px;
}
header{
    font-family: 'Passion One', cursive;
    background-color: rgba(35, 38, 234, 0.582); 
    height: Hug (70px);
    top: 731px;
    padding: 16px 32px 16px 32px;
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    gap: 20px;
}

.links a{
    text-decoration: none;
    color: white;
    transition: 0.4s;
}

.links a:visited{
    color: white;
}

.links a:hover{
    color:black
}
div.roda{
    background-color: rgba(35, 38, 234, 0.582);
    width: Fixed (1,440px);
    height: Hug (70px);
    top: 731px;
    padding: 16px 32px 16px 32px;
    margin-top: 80px;
    display: flex; 
    justify-content: end;
    flex-wrap: wrap;

}

div.descrições{
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.614);
    padding: 20px;
    display:flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;

}

.imagem{
    display: inline-block;
    height:150px;
     width:102px;

}

.imagem > img{
    border-radius: 20px;
}

.imagem > p{
    font-size: 12px;
}

.conteudo-hobbies, .conteudo-top5{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.hobbies > p {
    text-align: end;
    
}

.tags{
    background-color:rgba(255, 255, 255, 0.614);
    padding-top: 0.5%;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-evenly;
    
}


@media(max-width:800px){
    .sobreLucas{
        flex-direction: column-reverse;
    }

}

@media(max-width: 500px){
    .hobbies, .top5{

        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .hobbies > p, .top5 > p{
        text-align: center;
    }
    .conteudo-hobbies, .conteudo-top5{
        justify-content: center;
    }
}